/* Input form */
.FormContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid green; */
}
.Form{
  /* border: 3px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.7rem 0.4rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.Button{
  padding: 1rem 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(32, 31, 36);
  color: white;
  cursor: pointer;
}
.Button:hover{
  background-color: rgba(32, 31, 36, 0.6)
}

/* Display */
.displayContainer{
  /* border: 3px solid grey; */
  overflow-y: scroll;
  height: fit-content;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.transactionItem{
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 80%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.transctionItemDetailsContainer{
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%
}
.transactionItemDatenClose{
  /* border: 3px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close{
  cursor: pointer;
  color: red;
}
.close:hover{
  color: rgba(255, 0, 0, 0.5);
}
.transactionItemDetails{
  /* border: 3px solid blue; */
  margin-top: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.transactionItemImage {
  /* border: 3px solid red; */
  border-radius: 50%;
}
.transactionItemDate {
  color: grey;
  font-size: 1.1rem;;
}
.transactionItemPrice{
  font-weight: 600;
}

/* Mobile View */
@media screen and (max-width: 749px) {
  .FormContainer{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }
  .label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .Input{
    display: block;
    margin-bottom: 10px;
  }
  .Button{
    width: 50%
  }
  /* Display */
  .displayContainer{
    display: block;
    /* border: 3px solid grey; */
  }
  .transactionItem{
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .transctionItemDetailsContainer{
    margin-left: 0.5rem;
  }
  .transactionItemBought{
    /* border: 3px solid red; */
    width: 70%;
  }
  .transactionItemPrice{
    /* border: 3px solid red; */
    min-width: auto;
  }
}

@media screen and (min-width: 749px){
  .FormContainer {
    /* border: 3px solid red; */
    flex-direction: column;
    align-items: flex-start;
  }
  .Button{
    width: 25%;
    margin-top: 1rem;
  }
}

