/* Input form */
.FormContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 3px solid green; */
}
.Form{
  /* border: 3px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap
}

.Input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.7rem 0.4rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.Button{
  padding: 1rem 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(32, 31, 36);
  color: white;
  cursor: pointer;
}
.Button:hover{
  background-color: rgba(32, 31, 36, 0.6)
}

/* Display */
.displayContainer{
  /* border: 3px solid grey; */
  overflow-y: scroll;
  height: fit-content;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.transactionItem{
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 80%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.transactionItemImage {
  /* border: 3px solid red; */
  border-radius: 50%;
}
.transactionItemDate, .transactionItemBought {
  color: grey;
}
.transactionItemPrice{
  font-weight: 600;
}

/* Mobile View */
@media screen and (max-width: 749px) {
  .FormContainer{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }
  .label {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .Input{
    display: block;
    margin-bottom: 10px;
  }
  .Button{
    width: 50%
  }
}

@media screen and (min-width: 749px) and (max-width: 900px) {
  .FormContainer {
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: auto auto;
  }
  .Button{
    width: 60%;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 900px){
  .FormContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .Button{
    margin-top: 1rem;
    width: 15%;

  }
}