.transactionContainer{
  /* border: 3px solid red; */
  height: 100%;
}
.displayContainer{
  /* border: 3px solid yellow; */
  background: white;
  border-radius: 1rem;
  margin-top: 1rem;
  height: 92%;
  padding: 1rem;
}
.transactionInput{

}