.transactionContainer{
  /* border: 3px solid red; */
  height: 100%;
  position: relative;
}
.displayContainer{
  /* border: 3px solid yellow; */
  background: white;
  border-radius: 1rem;
  /* margin-top: 0.5rem; */
  height: 92%;
  padding: 0.5rem 1rem;
}
.transactionDisplay{
  /* border: 3px solid green; */
  margin-top: 0.5rem;
  height: 99%;
  position: relative
}
.transactionFooter{
  /* border: 3px solid yellow; */
  position: absolute;
  width: 100%;
  bottom: 0;
}


@media screen and (max-width: 749px) {
  .transactionContainer{
    height: 83vh;
  }
  .displayContainer{
    height: 78vh;
    padding: 0;
    /* border: 3px solid red */
  }
  .transactionDisplay{
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 749px) {
  .transactionContainer{
    min-height: 60vh;
    /* border: 3px solid yellow */
  }
  .displayContainer{
    /* border: 3px solid green; */
    margin-top: 0.5rem;
    min-height: 60vh;
  }
  .transactionContainer{
    height: 70vh
  }
}