.transactionContainer{
  /* border: 3px solid red; */
  height: 100%;
  position: relative;
}
.displayContainer{
  /* border: 3px solid yellow; */
  background: white;
  border-radius: 1rem;
  /* margin-top: 0.5rem; */
  height: 92%;
  padding: 0.5rem 1rem;
}
.transactionDisplay{
  /* border: 3px solid green; */
  margin-top: 1rem;
  height: 85%
}
.transactionFooter{
  /* border: 3px solid yellow; */
  position: absolute;
  width: 96%;
  bottom: 1rem;
}


@media screen and (max-width: 749px) {
  .transactionContainer{
    height: 80vh;
  }
  .displayContainer{
    height: 75vh;
    padding: 0;
  }
  .transactionDisplay{
    margin-top: 0.5rem;
  }
  .transactionFooter{
    width: 94%;
    bottom: 1rem;
    left: 3%
  }
}

@media screen and (min-width: 749px) {
  .transactionContainer{
    min-height: 60vh;
    /* border: 3px solid yellow */
  }
  .displayContainer{
    /* border: 3px solid green; */
    margin-top: 0.5rem;
    min-height: 60vh;
  }
}