@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

.ApplicationContainer {
  display: flex;
  box-shadow: 5px 5px 20px grey, -5px -5px 20px grey;
  /* border: 3px solid red; */
  width: 90%;
  height: 90vh;
  margin: 2.5rem auto;
  background-color: rgb(248, 245, 240);
}

.ContentContainer{
  /* border: 3px solid yellow; */
  width: 100%;
  padding: 2rem;
}

/* Mobile view */
@media screen and (max-width: 900px) {
  .ApplicationContainer{
    flex-direction: column;
    height: auto;
    width: 95%;
  }
  .ContentContainer{
    padding: 1rem 0.5rem;
    /* border: 3px solid red; */
    min-height: 80vh;
  }
}