.page {
  display: flex;
  flex-direction: column;
  /* font-family: var(--font-geist-sans); */
  background-color: var(--background);
}

.SplitPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55vh;
  justify-content: space-between;
  /* border: 3px solid green; */
}

.PotsnTransactions{
  display: flex;
  flex-direction: column;
  width: 49%;
  gap: 1rem;
  height: 100%;
  /* border: 3px solid red; */
}

.Recurring{
  /* border: 3px solid red; */
  width: 49%;
}