.page {
  display: flex;
  flex-direction: column;
  /* font-family: var(--font-geist-sans); */
  background-color: var(--background);
}

.SplitPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55vh;
  justify-content: space-between;
  /* border: 3px solid green; */
}

.Transactions{
  width: 49%;
  /* border: 3px solid red; */
}

.Recurring{
  /* border: 3px solid red; */
  width: 49%;
}

/*  */
@media screen and (max-width: 900px) {
  .SplitPage{
    flex-direction: column;
    height: auto;
    width: 95%;
  }
  .Transactions, .Recurring{
    width: 100%;
    margin-bottom: 1rem;
  }
}