.budgetContainer{
  /* border: 3px solid green; */
  height: 100%;
}
.budgetMainSection{
  /* border: 3px solid red; */
  height: 100%
}
.overlay{
  opacity: 0.2
}
.budgetHeader{
  display: flex;
  /* border: 3px solid red; */
  align-items: center;
  justify-content: space-between;
}
.button{
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(32, 31, 36);
  color: white;
  cursor: pointer;
}
.Button:hover{
  background-color: rgba(32, 31, 36, 0.6)
}
.budgetCard{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5rem;
  row-gap: 1.5rem;
  /* border: 3px solid green */
}
.addBudgetSection{
  /* border: 3px solid red; */
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  min-height: 50%;
}

/* Mobile View */
@media screen and (max-width: 900px) {
  .budgetHeader{
    height: auto;
    width: 100%;
  }
  .budgetCard{
    display: flex;
    flex-direction: column;
  }
  .addBudgetSection{
    left: 3%;
    width: 94%;
  }
}