.Form{
  /* border: 3px solid red; */
  margin-top: 1rem;
  
}
.Display{
  /* border: 3px solid red; */
  margin-top: 1rem;
  padding: 1rem;
}

/* Mobile View */
@media screen and (max-width: 1500px) {
  .Display{
    flex-direction: column;
    min-height: 50vh;
    /* width: 95%; */
  }
}

