.transactionContainer{
  /* border: 3px solid red; */
  height: 100%;
  /* position: relative; */
  padding-bottom: 0.3rem;
}
.displayContainer{
  /* border: 3px solid yellow; */
  background: white;
  border-radius: 1rem;
  /* margin-top: 0.5rem; */
  height: 92%;
  padding: 0.5rem 1rem;
}
.transactionDisplay{
  /* border: 3px solid green; */
  margin-top: 0.5rem;
  height: 99%;
  position: relative
}
.transactionFooter{
  /* border: 3px solid yellow; */
  position: absolute;
  width: 100%;
  bottom: 0;
}


@media screen and (max-width: 749px) {
  .transactionContainer{
    height: 83vh;
  }
  .displayContainer{
    height: 94%;
    padding: 0;
    /* border: 3px solid red */
  }
  .transactionDisplay{
    margin-top: 0.5rem;
    padding: 0.1rem;
  }
  .transactionFooter{
    bottom: 8;
    width: 94%;
    left: 3%
  }
}

@media screen and (min-width: 749px) and (max-width: 1023px) {
  .transactionContainer{
    height: 90vh;
    /* border: 3px solid green; */
    padding: 0.1rem;
  }
  .displayContainer{
    /* border: 3px solid green; */
    margin-top: 0.5rem;
    height: fit-content;
    padding-bottom: 3rem;
    /* display: none; */
  }
  .transactionContainer{
    height: 70vh
  }
  .transactionFooter{
    bottom: -40
    /* display: none; */
  }
}